* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
  /* スクロール可能にするため、高さを設定 */
  height: 500vh; /* アニメーションの長さに応じて調整 */
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  outline: none;
}
